* {margin: 0;
    padding: 0;}
#d01{
    flex-basis: auto;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;

    background-color: blanchedalmond;
}
a:hover {
    color: red;
    cursor: pointer;
  }
  .a:hover {
    background-color:darkcyan;
    cursor: pointer;
  }